{% extends 'base.html.twig' %}

{% block title %}Aide{% endblock %}

{% block body %}
    <h1>Aide</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ aide.id }}</td>
            </tr>
            <tr>
                <th>Sujet</th>
                <td>{{ aide.sujet }}</td>
            </tr>
            <tr>
                <th>Probleme</th>
                <td>{{ aide.probleme }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ aide.mail }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('form_index') }}">back to list</a>

    <a href="{{ path('form_edit', {'id': aide.id}) }}">edit</a>

    {{ include('form/_delete_form.html.twig') }}
{% endblock %}
