<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Sidebar -->
    <div class="sidebar">
        {% if app.user.hasRole("ROLE_SUPER_ADMIN") %}
        <div class="user-panel mt-3 pb-3 mb-3  text-center ">
            <div class="info">
                <a href="#" class="d-block">Administrateur </a>
            </div>
        </div>
        {% endif %}
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                {% if app.user.hasRole("ROLE_SUPER_ADMIN") %}
                    <li class="nav-item">
                        <a href="{{ path('dashboard_admin') }}" class="nav-link">
                            <i class="nav-icon fas fa-chart-pie"></i>
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('formateurs_index') }}" class="nav-link">
                            <i class="nav-icon fas fa-user-alt"></i>
                            Gestion Formateurs
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('apprenant_index') }}" class="nav-link">
                            <i class="nav-icon fas fa-user-alt"></i>
                            Liste Apprenants
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('avis_index') }}" class="nav-link">
                            <i class="nav-icon fas fa-user-alt"></i>
                            Liste Avis
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('inscription_index') }}" class="nav-link">
                            <i class="nav-icon fas fa-user-alt"></i>
                            Liste Inscriptions
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>