{{ form_start(form) }}
    {{ form_row(form.titre, {'attr' : {'class' : 'form-control' }}) }}
    {{ form_row(form.prix, {'attr' : {'class' : 'form-control' }}) }}
    {{ form_row(form.description, {'attr' : {'class' : 'form-control' }}) }}
    <br>
    <button class="btn btn-primary">{{ button_label|default('Envoyer') }}</button>
{{ form_end(form) }}
