{% extends 'base.html.twig' %}

{% block title %}Seance{% endblock %}

{% block body %}
    <h1>Seance</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdSeance</th>
                <td>{{ seance.idSeance }}</td>
            </tr>
            <tr>
                <th>IdFormation</th>
                <td>{{ seance.idFormation }}</td>
            </tr>
            <tr>
                <th>Lien</th>
                <td>{{ seance.lien }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ seance.description }}</td>
            </tr>
            <tr>
                <th>DateSeance</th>
                <td>{{ seance.dateSeance }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('seance_index') }}">back to list</a>

    <a href="{{ path('seance_edit', {'idSeance': seance.idSeance}) }}">edit</a>

    {{ include('seance/_delete_form.html.twig') }}
{% endblock %}
