{% extends 'front/block/layout.html.twig' %}

{% block page %}
    <div class="modal-body customer-box">
        <div class="tab-content">
            <form style="padding-top: 50px;padding-bottom: 50px;" class="row text-center" method="post"
                  methode="{{ path('avis_new',{'formateurId':formateur.id}) }}">
                <div class="col-sm-12">
                    <a href="{{ path('avis_new',{'formateurId':formateur.id}) }}">
                        <img class="rounded-circle" style=" width: 160px;"
                             src="{{ asset('images/default-user.png') }}">
                    </a>
                </div>
                <div class="col-sm-12">
                    <h3>{{ formateur.nom }} {{ formateur.prenom }}</h3>
                </div>
                <br><br>
                <div class="col-sm-4">
                    <img id="image1" onclick="UpdateAvis(1)" class="rounded-circle" style="width: 100px;"
                         src="{{ asset('images/triste_b.png') }}">
                </div>
                <div class="col-sm-4">
                    <img id="image2" onclick="UpdateAvis(2)" class="rounded-circle" style="width: 100px;"
                         src="{{ asset('images/smile_b.png') }}">
                </div>
                <div class="col-sm-4">
                    <img id="image3" onclick="UpdateAvis(3)" class="rounded-circle" style="width: 100px;"
                         src="{{ asset('images/happy_b.png') }}">
                </div>
                <div class="offset-3 col-sm-6" style="padding-top: 20px;padding-bottom: 20px;">
                    <input id="commentaire" name="commentaire" class="form-control" type="text" placeholder="commentaire">
                </div>
                <div class="col-sm-12">
                    <button type="submit" id='valider' class="btn btn-light btn-radius btn-brd grd1" disabled>
                        Valider
                    </button>
                </div>
                <input id="note" name="note" value="" hidden>
            </form>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        function UpdateAvis(note) {
            $("#note").val(note);
            console.log(note)
            if(note == 1){
                $('#image1').attr('src', '{{ asset('images/triste.png') }}');
                $('#image2').attr('src', '{{ asset('images/smile_b.png') }}');
                $('#image3').attr('src', '{{ asset('images/happy_b.png') }}');
                $('#valider').attr("disabled", false);
            }
            else if(note == 2){
                $('#image2').attr('src', '{{ asset('images/smile.png') }}');
                $('#image1').attr('src', '{{ asset('images/triste_b.png') }}');
                $('#image3').attr('src', '{{ asset('images/happy_b.png') }}');
                $('#valider').attr("disabled", false);
            }
            else if(note == 3){
                $('#image3').attr('src', '{{ asset('images/happy.png') }}');
                $('#image1').attr('src', '{{ asset('images/triste_b.png') }}');
                $('#image2').attr('src', '{{ asset('images/smile_b.png') }}');
                $('#valider').attr("disabled", false);
            }
            else{
                $('#valider').attr("disabled", true);
            }

        }

        $( document ).ready(function() {

        })
    </script>

{% endblock %}

