{% extends 'front_template/template.html.twig' %}

{% block formation %}
        {% for c in sessions %}

    <div class="row">
        <div class="col-lg-8 mx-auto">
            <!-- List group-->
            <ul class="list-group shadow">
                <!-- list group item-->
                <li class="list-group-item">
                    <!-- Custom content-->
                    <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                        <div class="media-body order-2 order-lg-1">
                            <h2 class="mt-0 font-weight-bold mb-2">{{ c.titre }}</h2>
                            <p class="font-italic text-muted mb-0 small">{{ c.description }} 
</p>
                            <div class="d-flex align-items-center justify-content-between mt-1">
                                <h6 class="font-weight-bold my-2">{{ c.prix }}TND</h6>
                               {{ c.date ? c.date|date('Y-m-d') : '' }}
                            </div>
                            
                        </div><img src="{{c.image}}" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
                    </div> 
                    <center><a href="{{path('inscrire', {'id': c.id})}}" class="btn btn-primary">Inscrire</a></center><!-- End -->
                </li> <!-- End -->

            </ul> <!-- End -->
        </div>

    </div>
</div>
 
        {% endfor %}
     

{% endblock %}