{% extends 'base.html.twig' %}

{% block title %} Aide Apprenant {% endblock %}

{% block content %}



    <h1 class="container-fluid alert-info text-center p-5">Espace Aide</h1>
    <form  method="GET" action="{{ path('ajax_search') }}" class="container-fluid mt-4">

        <div class="d-flex align-items-center justify-content-center">
            <input  name="q" type="text" class="tz-query form-control w-50" id="tz-query" value="" placeholder="Rechercher">
        </div>


    </form>
    <ul class="nav" id="side-menu">
        <li>
            <a href="#"><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level" id="entitiesNav">
            </ul>
        </li>
    </ul>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script type="text/javascript">
        jQuery(document).ready(function() {
            var searchRequest = null;
            $("#tz-query").keyup(function() {
                var minlength = 1;
                var that = this;
                var value = $(this).val();
                var entitySelector = $("#entitiesNav").html('');
                if (value.length >= minlength ) {


                    searchRequest = $.ajax({
                        type: "GET",
                        url: "http://localhost:8000/aide/asearch?q="+value,
                        data: {
                        },
                        dataType: "jsonp",
                        success: function(msg){
                            //we need to check if the value is the same
                            if (value===$(that).val()) {
                                var result = JSON.parse(msg);
                                $.each(result, function(key, arr) {
                                    $.each(arr, function(id, value) {
                                        if (key === 'posts') {
                                            if (id !== 'error') {
                                                console.log(value);
                                                entitySelector.append('<li><a href="/aide/'+id+'"><b>'+value+'</a></li>');

                                            } else {
                                                entitySelector.append('<li class="errorLi">'+value+'</li></br>');
                                            }
                                        }
                                    });
                                });
                            }
                        }
                    });
                }
            });
        });
    </script>
    </br>

    {% for message in app.flashes('succes') %}
        <div class="alert alert-success">
        {{ message }}</div>
    {% endfor %}
    <div class="container-fluid">
        <table class="table  table-hover ">
            <thead>
            <tr>

                <th>Sujet</th>
                <th>Probleme</th>
                <th>Mail</th>
                <th>commaintre</th>
                <th>avis</th>
                <th>reponse</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>

            {% for aide in aides %}
                <tr>

                    <td>{{ aide.sujet }}</td>
                    <td>{{ aide.probleme }}</td>
                    <td>{{ aide.mail }}</td>

                    <td>  {% for aidecoms in aidecom %}
                            {% if aidecoms.idSujet == aide.id %}
                                <p>{{ aidecoms.commaintre}}</p>

                            {% endif %}
                        {% endfor %}
                    </td>
                    <td style="width: 20%;">
                        <button id="likedbtn" >
                            <i class="fa fa-thumbs-up"></i>
                        </button>
                        <input type="number" id="input1" value="0" name=""  class="TH">
                        <button id="dislikedbtn">
                            <i class="fa fa-thumbs-down"></i>
                        </button>
                        <input type="number" id="input2" value="0" name="" class="TH">


                    </td>
                    <td style="width: 10%;"><a class="btn btn-warning" href="{{ path('aide_commaintre_new')}}"> reponse</a> </td>
                    <td style="width: 10%;">
                        <a  class="btn btn-primary" href="{{ path('aide_con_show', {'id': aide.id}) }} ">show</a>
                        <a class="btn btn-success" href="{{ path('aide_con_edit', {'id': aide.id}) }}">edit</a>

                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>



    <a href="{{ path('aide_con_new') }}">Create new</a>
{% endblock %}
{% block footer  %}
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>About US</h3>
                        </div>
                        <p> Integer rutrum ligula eu dignissim laoreet. Pellentesque venenatis nibh sed tellus faucibus bibendum. Sed fermentum est vitae rhoncus molestie. Cum sociis natoque penatibus et magnis dis montes.</p>
                        <div class="footer-right">
                            <ul class="footer-links-soi">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-github"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            </ul><!-- end links -->
                        </div>
                    </div><!-- end clearfix -->
                </div><!-- end col -->

                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Information Link</h3>
                        </div>
                        <ul class="footer-links">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Pricing</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->

                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Contact Details</h3>
                        </div>

                        <ul class="footer-links">
                            <li><a href="mailto:#">info@yoursite.com</a></li>
                            <li><a href="#">www.yoursite.com</a></li>
                            <li>PO Box 16122 Collins Street West Victoria 8007 Australia</li>
                            <li>+61 3 8376 6284</li>
                        </ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->

            </div><!-- end row -->
        </div><!-- end container -->
    </footer><!-- end footer -->
{% endblock %}
{% block javascript %}
<script type="text/javascript">

    let likedbtn =document.querySelector('#likedbtn');
    let dislikedbtn =document.querySelector('#dislikedbtn');
    let input1 =document.querySelector('#input1');
    let input2 =document.querySelector('#input2');


    likedbtn.addEventListener('click',()=>{
    input1.value =parseInt(input1.value)+1;
    input1.style.color ="#0000FF"


})
    dislikedbtn.addEventListener('click',()=>{
    input2.value =parseInt(input2.value)+1;
    input2.style.color ="#008000"


})

</script>
{% endblock %}