{% extends 'front/block/layout.html.twig' %}

{% block page %}
    <div class="modal-body customer-box">
        <div class="tab-content">
            {{ form_start(form, {'attr': {'class': 'row'}}) }}
            {% if errors|length > 0 %}
                <div class="offset-lg-2 col-lg-6" style="padding-top: 20px;">
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        {% for error in errors %}
                            <h6 class="text-white">{{ error }}</h6>
                        {% endfor %}
                    </div>

                </div>
                <div class="col-lg-4">

                </div>
            {% endif %}
            <div class="offset-lg-2 col-lg-3" style="padding-top: 20px;">
                <label>Nom</label>
            </div>
            <div class="col-lg-3" style="padding-top: 20px;">
                <label>Prénom</label>
            </div>
            <div class="offset-lg-2 col-lg-3">
                {{ form_widget(form.nom ,{'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.nom, {'attr': {'class': 'alert alert-danger alert-dismissible'}}) }}

            </div>
            <div class="col-lg-3">
                {{ form_widget(form.prenom ,{'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.prenom, {'attr': {'class': 'alert alert-danger alert-dismissible'}}) }}

            </div>
            <div class="offset-lg-2 col-lg-10" style="padding-top: 20px;">
                <label>Téléphone</label>
            </div>
            <div class="offset-lg-2 col-lg-6">
                {{ form_widget(form.telephone, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.telephone, {'attr': {'class': 'alert alert-danger alert-dismissible'}}) }}

            </div>
            <div class="offset-lg-2 col-lg-10" style="padding-top: 20px;">
                <label>Adresse</label>
            </div>
            <div class="offset-lg-2 col-lg-6">
                {{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.adresse, {'attr': {'class': 'alert alert-danger alert-dismissible'}}) }}

            </div>


            <div class="offset-lg-2 col-lg-6 text-center" style="padding-top: 20px;">
                <br><br>
                <button  class="btn btn-light btn-radius btn-brd grd1" >
                    Enregister
                </button>

            </div>
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}


