<table id="example1" class="table table-bordered table-striped">
    <thead>
    <tr class="text-center">
        <th>Nom & Prénom</th>
        <th>Email</th>
        <th>Tél</th>
        <th>Adresse</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>

    {% for user in users %}
        <tr class="text-center">
            <td>{{ user.nom }} {{ user.prenom }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.telephone }}</td>
            <td>{{ user.adresse }}</td>
            <td>
                <a class="btn btn-block btn-outline-danger " style="display: inline"
                   href="{{ path('formateurs_delete',{'id': user.id }) }}">
                    <i class="nav-icon fas fa-trash btn-outline-danger"></i>
                </a>
            </td>
        </tr>
    {% endfor %}


    </tbody>
</table>