<!DOCTYPE html>
<html lang="en">

<!-- Basic aaaaaa -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Site Metas -->
<title>{% block title %}E_Formation{% endblock %}</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">

<!-- Site Icons -->
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
{% block stylesheets %}
    {#{{ encore_entry_link_tags('app') }}#}

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{{ asset('front/css/bootstrap.min.css') }}">
<!-- Site CSS -->
<link rel="stylesheet" href="{{ asset('front/style.css') }}">
<!-- ALL VERSION CSS -->
<link rel="stylesheet" href="{{ asset('front/css/versions.css') }}">
<!-- Responsive CSS -->
<link rel="stylesheet" href="{{ asset('front/css/responsive.css') }}">
<!-- Custom CSS -->
<link rel="stylesheet" href="{{ asset('front/css/custom.css') }}">
{% endblock %}
<!-- Modernizer for Portfolio -->
<script src="{{ asset('front/js/modernizer.js') }}"></script>

<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

</head>
<body class="host_version">



{% block body %}
{% endblock %}
<a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>
{% block javascripts %}
    {#{{ encore_entry_script_tags('app') }}#}
    <!-- ALL JS FILES -->
    <script src="{{ asset('front/js/all.js') }}"></script>
    <!-- ALL PLUGINS -->
    <script src="{{ asset('front/js/custom.js') }}"></script>
    <script src="{{ asset('front/js/timeline.min.js') }}"></script>
    <script>
        timeline(document.querySelectorAll('.timeline'), {
            forceVerticalMode: 700,
            mode: 'horizontal',
            verticalStartPosition: 'left',
            visibleItems: 4
        });
    </script>
{% endblock %}

</body>
</html>
