<!-- Start header -->
<header class="top-navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html">
                <img src="images/logo.png" alt="" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-host" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbars-host">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a class="nav-link" href="{{ path('index') }}">Acceuil</a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right">

                    {% if app.user %}
                        <li class="nav-item">  <a class="nav-link" href="{{ path('inscription') }}" ><span>Inscription</span></a></li>
                        <li class="nav-item">  <a class="nav-link" href="{{ path('list_formateurs') }}" ><span>Formateurs</span></a></li>
                        <li class="nav-item">  <a class="nav-link" href="{{ path('avis_show') }}" ><span>Avis</span></a></li>



                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">{{ app.user.nom|upper }} {{ app.user.prenom|upper }} </a>
                        <div class="dropdown-menu" aria-labelledby="dropdown-a">
                            <a class="dropdown-item" href="{{ 'editProfil' }}">Profil </a>
                            <a class="dropdown-item" href="{{ 'updatepassword' }}">Modifier mot de passe</a>
                            <a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
                        </div>
                    </li>
                    {% else %}
                      <li class="nav-item">  <a class="nav-link" href="{{ path('app_login') }}" ><span>Se Connecter</span></a></li>
                        <li class="nav-item">  <a class="nav-link" href="{{ path('apprenant_new') }}" ><span>S'inscrire</span></a></li>
                    {% endif %}



                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- End header -->